<div *ngIf="jugador != undefined">
  <h2>Modificar detalles del jugador con id {{jugador.idJugador}}</h2>
  <table>
    <tr>
      <th>Nombre</th>
      <th>
        {{jugador.nombre}}
      </th>
    </tr>
    <tr>
      <th>Fecha de Nacimiento</th>
      <th>{{jugador.fNacimiento | date:'dd-MM-yyyy'}}</th>
    </tr>
    <tr>
      <th>Equipo</th>
      <th>{{jugador.nEquipo}}</th>
    </tr>
    <tr>
      <th>Partidos jugados</th>
      <th><input #partidos placeholder="{{jugador.nPartidos}}" /></th>
    </tr>
    <tr>
      <th>Triples</th>
      <th><input #triples placeholder="{{jugador.triples}}" /></th>
    </tr>
    <tr>
      <th>Asistencias</th>
      <th><input #asistencias placeholder="{{jugador.asistencias}}" /></th>
    </tr>
    <tr>
      <th>Rebotes</th>
      <th><input #rebotes placeholder="{{jugador.rebotes}}" /></th>
    </tr>
    <tr>
      <th>Puntos</th>
      <th><input #puntos placeholder="{{jugador.puntos}}" /></th>
    </tr>
    <tr>
      <th>Pases</th>
      <th><input #pases placeholder="{{jugador.pases}}" /></th>
    </tr>
    <tr>
      <th>Expulsiones</th>
      <th><input #expulsiones placeholder="{{jugador.expulsiones}}" /></th>
    </tr>
    <tr>
      <th><button (click)="goBack()">Volver atras</button></th>
      <th>
        <button
          (click)="save( partidos.value, triples.value, asistencias.value, rebotes.value, puntos.value, pases.value, expulsiones.value)"
        >
          Guardar cambios
        </button>
      </th>
    </tr>
  </table>
</div>
