body {
  background-color: #ffdd90;
  background-image: url("https://image.freepik.com/vector-gratis/balon-baloncesto-area-cancha-madera_64749-378.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}